#walrus-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

#text-showing {
  display: none;
}


.clickable2 {
  cursor: pointer;
  color: #0088cc;
}

.clickable2:hover {
  text-decoration: underline;
}

#fade-in {
  color: violet;
  background-color: green;
}

#fade-out {
  color: violet;
  background-color: green;
}

#toggle-fading {
  color: violet;
  background-color: green;
}

h1 {
  color: green;
  font-weight: bold;
  padding-bottom: 40px;

}

h2 {
  color: green;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 40px;
}
